#document2 {
        width: inherit;
	padding-left: 25px;
	margin-bottom: 20px;
}

#document2 .content {

}

#document2 h2 {
	padding: 8px 0px 8px 40px;
	color: #000000;
	text-transform: none;
	background: url(../img/assignment.png) no-repeat left 5px;
}

#document2 ul{
	margin-left: 0px;
	margin-top: -30px;
	list-style: disc;
	list-style-type: disc;
}

#document2 li {
	color: #000000;
	display: inline;
	margin-right: 10px;
}

#document2 h2 a {
    text-decoration: none;
    color: #000000;
}

#document2 h2 a:hover {
    /*text-decoration: none;*/
    color: #8E8E8E;
}

#document2 h3 {
    color: #3a3a3a;
	font: bold 25px/25px 'Ubuntu', Arial, Helvetica, sans-serif;
	margin: 20px 0px 10px -15px;
	text-transform: uppercase;
	letter-spacing: -2px;
}